<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Cadastre seus dados</h2><br>
    <form method="POST" action="/form">

        <div><input type="email" name="email" id="email" placeholder="Digite seu E-mail" value="<%= email %>"><br><br>
             <span><%= emailError %></span></div><br>

        <div><input type="text" name="nome" id="nome" placeholder="Digite seu Nome"><br><br>
             <span><%= nomeError %></span></div><br>

        <div><input type="number" name="pontos" id="pontos" placeholder="Quantidade de pontos"><br><br>
             <span><%= pontosError %></span></div><br>

        <button type="submit">Enviar</button>

    </form>
</body>

</html>